@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geo", sans-serif;
}

.app {
  background: #1E1230;
  position: relative;
}
.app .logo {
  background-color: #FFE97C;
}
.app .logo img {
  width: 150px;
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
}
.app .navbar {
  display: flex;
  justify-content: space-around;
  background: #372553;
  padding: 0.5rem 20%;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.app .navbar a {
  color: #A16FE9;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0.2rem;
  border-radius: 10px;
}
.app .navbar a:hover {
  background-color: #A16FE9;
  color: #372553;
}
.app .navbar .active {
  background: #FE1675;
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
  color: #372553;
  text-transform: uppercase;
}
.app .navbar .btn {
  background-color: #A16FE9;
  padding: 0.2rem 0.2rem;
  border-radius: 5px;
  color: #FFE97C;
}
.app .navbar > * {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.app .navbar > * :active {
  scale: 0.8;
}
.app .footer {
  background: #FFE97C;
  padding: 4rem 0;
}
.app .footer .container {
  width: 80%;
  margin: 0 auto;
}
.app .footer .container .logoLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.app .footer .container .logoLinks .logo {
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.app .footer .container .logoLinks .links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.app .footer .container .logoLinks .links > * {
  color: #FE1675;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.app .footer .container .logoLinks > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.app .footer .container .trademark {
  color: #FE1675;
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-top: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media (max-width: 700px) {
  .app .navbar {
    padding: 0.5rem 0;
  }
  .app .navbar > * {
    font-size: 1rem;
  }
  .app .home .mintSection .bg {
    padding: 2rem 0;
  }
  .app .home .mintSection .bg .left,
.app .home .mintSection .bg .right {
    margin: -1rem 0;
    width: 150px;
  }
  .app .footer .container .logoLinks {
    flex-direction: column;
    row-gap: 3rem;
  }
}
.merchant {
  background-color: #372553;
}
.merchant .head {
  font-size: 4rem;
  color: #FFE97C;
  width: 100%;
  text-align: center;
  padding-top: 4rem;
}
.merchant .categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap: 4rem;
}
.merchant .categories .cat {
  width: 95%;
  float: right;
}
.merchant .categories .cat .heading {
  font-size: 3rem;
  color: #E88B3F;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.merchant .categories .cat .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.merchant .categories .cat .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  text-decoration: none;
}
.merchant .categories .cat .items .item .name {
  font-size: 2rem;
  color: #FFE97C;
  text-align: center;
  width: 100%;
  max-width: 200px;
}
.merchant .categories .cat .items .item img {
  max-width: 200px;
  border-radius: 10px;
}
.merchant h1 {
  width: 90%;
  margin: 0 auto;
  color: white;
  padding: 3rem 0;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  border-top: 2px solid #B9ABDE;
}
.merchant h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.5rem;
  color: #B9ABDE;
  max-width: 500px;
  text-align: center;
  padding-bottom: 3rem;
  width: 90%;
}
.merchant h2 a {
  color: #B9ABDE;
  cursor: pointer;
}

@media (max-width: 700px) {
  .merchant .head {
    font-size: 3rem;
    padding-inline: 1rem;
  }
  .merchant .categories .cat .heading {
    font-size: 2rem;
  }
  .merchant .categories .cat .items {
    row-gap: 2rem;
  }
  .merchant .categories .cat .items .item img {
    width: 100px;
  }
  .merchant .categories .cat .items .item .name {
    font-size: 1rem;
    max-width: 100px;
  }
  .merchant h1 {
    font-size: 2rem;
  }
  .merchant h2 {
    font-size: 1rem;
  }
}/*# sourceMappingURL=Merchant.css.map */